<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="ionic/css/ionic.min.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
<script type="text/javascript" src="ionic/js/ionic.bundle.min.js" ></script><link href="" rel="stylesheet">
<script type="text/javascript" src="js/index.js" ></script>
</head>
<body ng-controller="main">
	<ion-header-bar class="bar-assertive">
		<h1 class="title">开赞名片</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<label for="" class="item item-input">
				用户名：
				<input type="text" placeholder="请输入您的用户名~" ng-model="name">
			</label>
			<label for="" class="item item-input">
				密码：
				<input type="password" placeholder="请输入您的密码~" ng-model="password">
			</label>
			<button class="button button-block button-stable" ng-click="loginBtn()">登录</button>
			<p class="pFooter">没有账号？去<a href="reg.html" class="assertive">注册</a></p>
		</div>
	</ion-content>
</body>
<script>
	var m1=angular.module('myApp',['ionic']);
	m1.service('myHttpService', ['$http', function($http){
		this.loginrAndregister=function(data,callback){
			$http({
				url:"http://datainfo.duapp.com/shopdata/userinfo.php",
				method:"get",
				params:data
			}).success(function(result){
				callback(result);
			})
		}
	}])
	m1.controller('main', ['$scope','$interval','myHttpService',function($scope,$interval,myHttpService) {
		$scope.loginBtn=function(){
			myHttpService.loginrAndregister({
				status:"login",
				userID:$scope.name,
				password:$scope.password
			},function(res){
				console.log(res);
			})
		}

	}]);
</script>
</html>