<ion-tabs class="tabs-icon-top tabs-assertive">  
    <ion-tab title="精选" href="#/tab/goods" icon="ion-thumbsup">  
        <ion-nav-view name="tab-goods"></ion-nav-view>  
    </ion-tab>  
  
    <ion-tab title="新品" href="#/tab/CardHolder" icon="ion-ribbon-b">  
        <ion-nav-view name="tab-CardHolder"></ion-nav-view>  
    </ion-tab>  
  
    <ion-tab title="购物车" href="#/tab/Circle" icon="ion-ios-cart">  
        <ion-nav-view name="tab-Circle"></ion-nav-view>  
    </ion-tab>
    
    <ion-tab title="我的" href="#/tab/More" icon="ion-person">
		<ion-nav-view name="tab-More"></ion-nav-view>  
	</ion-tab>
</ion-tabs>  